@import url(http://fonts.googleapis.com/css?family=NTR|Open+Sans:400,700&subset=latin,latin-ext);

body {
  margin-top: 20px;
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NTR';
  font-weight: 400;
}

a {
  color: #d7203b;
}
a:hover {
  color: #a11b30;
}

h4 {
  margin-bottom: 20px;
  font-size: 2em;
}

.button {
  background-color: #d7203b;
}
.button:hover {
  background-color: #a11b30;
}

.logo {
  background-image: url(../images/logo.png);
  background-size: 300px 111px;
  width:  300px;
  height: 111px;
  text-indent: -99999em;
  float: left;
}

.next_meetup.date {
  padding-right: 5px;
  color: rgb(208, 2, 2);
}

.next_meetup.description {
  padding-top: 10px;
  font-style: italic;
}

.large-4.columns {
  margin-bottom: 20px;
  padding-left: 0;
}
