<div id="fb-root"></div>

<div class="row">
  <div class="large-12 columns">
    <h4>Get in touch</h4>
    <div class="large-3 columns">
      Email: <a href="mailto:hello@vilniusrb.lt">hello@vilniusrb.lt</a>
    </div>
    <div class="large-3 columns">
      <a href="https://twitter.com/vilniusrb"
        class="twitter-follow-button" data-show-count="false"
        data-size="large">Follow @vilniusrb</a>
    </div>
    <div class="large-3 columns slack">
      <a href="https://uglt.herokuapp.com">
        <img src="/images/slack.svg" width="34" class="left"/>
        <div class="left">
          Chat with us <br>
          on #vilniusrb
        </div>
      </a>
    </div>
    <div class="large-3 columns fb-like"
      data-href="https://www.facebook.com/vilniusrb"
      data-width="200" data-layout="standard" data-action="like"
      data-show-faces="true" data-share="true">
    </div>
  </div>
</div>
