<header>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="logo"><a href="/">VilniusRB</a></h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar">
        <ul class="inline-list center">
          <li><a href="/about">About Us</a></li>
          <li><a href="http://www.meetup.com/vilniusrb/">Events</a></li>
          <li><a href="http://eepurl.com/HNR0z">Newsletter</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
